{:paths ["src" "test"]
 :tasks {test {:doc "Run the cljc contract + behavioral test under babashka"
               :extra-paths ["test"]
               :requires ([auto_gpt.main-test])
               :task (let [{:keys [fail error]} (clojure.test/run-tests 'auto_gpt.main-test)]
                       (System/exit (if (pos? (+ fail error)) 1 0)))}}}
